@import url("https://fonts.googleapis.com/css?family=Lobster+Two");
body {
  background-color: #222;
}
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #222;
  min-height: 100vh;
  font-family: 'Lobster Two', cursive;
  color: #fff;
  min-width: 450px;
}
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #222;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(2rem + 2 * ((100vw - 26.25rem) / 53.75));
  padding-top: 1rem;
}
@media screen and (min-width: 1280px){
  .header{
    font-size: 4rem;
  }
}
@media screen and (max-width: 420px){
  .header{
    font-size: 2rem;
  }
}
.header h1 {
  text-align: center;
  margin: 0;
}
.timerControls {
  margin-top: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 750px) {
  .timerControls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.controlTitle {
  font-size: calc(2rem + 0.5 * ((100vw - 26.25rem) / 53.75));
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1280px){
  .controlTitle{
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 420px){
  .controlTitle{
    font-size: 2rem;
  }
}
.workControlCont,
.restControlCont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (max-width: 750px) {
  .workControlCont,
  .restControlCont {
    width: 100%;
    margin-bottom: 3rem;
    padding: 0rem;
  }
}
.workControls,
.restControls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.controlTimerText {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: calc(2rem + 1 * ((100vw - 26.25rem) / 53.75));
  width: 135px;
  text-align: center;
}
@media screen and (min-width: 1280px){
  .controlTimerText{
    font-size: 3rem;
  }
}
@media screen and (max-width: 420px){
  .controlTimerText{
    font-size: 2rem;
  }
}
.controlTimerButton {
  font-size: 3rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  border-style: none;
  outline: none;
  font-size: calc(2rem + 1 * ((100vw - 26.25rem) / 53.75));
  line-height: 1rem;
}
@media screen and (min-width: 1280px){
  .controlTimerButton{
    font-size: 3rem;
  }
}
@media screen and (max-width: 420px){
  .controlTimerButton{
    font-size: 2rem;
  }
}
.controlTimerButton:hover {
  cursor: pointer;
}
.controlTimerButton:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.tomatoImage {
  margin-top: 2rem;
  position: relative;
  text-align: center;
  height: 160px;
}
@media screen and (max-width: 750px) {
  .tomatoImage {
    margin-top: 0rem;
  }
}
.tomatoContainer {
  height: 100%;
}
.greenTomatoCont {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.redTomatoCont {
  position: absolute;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.active {
  z-index: 1;
}
.mainTimer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  height: 180px;
  margin-bottom: 2rem;
}
.maintTimerCont {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media screen and (max-width: 750px) {
  .maintTimerCont {
    margin-top: 0rem;
  }
}
.start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border-style: none;
  outline: none;
  font-size: 3rem;
  background-color: #fff;
  color: #000;
  font-family: 'Lobster Two', cursive;
}
.start:hover {
  cursor: pointer;
}
.mainTimerText {
  width: 135px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.mainTimerText:hover {
  cursor: pointer;
}
.timerOuter {
  height: 10rem;
  width: 10rem;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: width 0.3s, height 0.3s, border 0.3s;
  transition: width 0.3s, height 0.3s, border 0.3s;
}
.timerOuterAfter {
  width: 10.5rem;
  height: 10.5rem;
  background-color: #222;
}
.timerOuterBefore {
  height: 10rem;
  width: 10rem;
  background-color: #222;
  border-color: #222;
}
